{% extends "base.html" %}

{% block header %}
  <div class="colorstrip"></div>
{% endblock %}

{% block content %}
  <div class="text">
    <h1>Start Django 🐍 😃</h1>
    <p>A step-by-step guide to building your first Django app</p>
  </div>
  <div class="space"></div>

  <div class="col s8 offset-s2">
    <div class="center-align">
      <a href="#" class="btn-large yellow darken-2"><i class="material-icons left">play_circle_outline</i>Start</a>
    </div>
    <div class="space"></div>
  </div>

  <div class="row white-text center-align">
    <div class="col s12 m6 offset-m3 l4">
      <div class="card-panel green lighten-1">
        <i class="medium material-icons">info_outline</i>
        <h5>What is it?</h5>
        <hr>
        <span>StartDjango.com is the easier way to learn Django. Designed with the beginner in mind, we will teach you everything you need and nothing you don't.
        </span>
      </div>
    </div>

    <div class="col s12 m6 offset-m3 l4">
      <div class="card-panel green lighten-1">
        <i class="medium material-icons">settings</i>
        <h5>How does it work?</h5>
        <hr>
        <span>It's pretty simple. Using free and standard tools we explain how to build an application in a way that's easy to understand!
        </span>
      </div>
    </div>

    <div class="col s12 m6 offset-m3 l4">
     <div class="card-panel green lighten-1">
       <i class="medium material-icons">assignment</i>
       <h5 class="white-text">What do I need?</h5>
       <hr>
       <span>Not much! A computer running Windows or macOS. We will help you install anything else you might need.
       </span>
     </div>
    </div>
  </div>



{% endblock %}
